*{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
header img{
    border-radius: 10px;
}
ul li{
    float: left;
    margin-left: 30px;
}
ul{
    list-style: none;
    position: relative;
}
ul>li:hover{
    color: blue;
    position: relative;
}
ul>li::after{
    content: "";
    width: 1px;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 10px;
    transition: 1s;
    bottom: 0;
}
ul>li:hover::after{
    transform: scale3d(30,1,1);
}
div{
    position: absolute;
    bottom: 0;
    width: 100px;
}
ol{
    list-style: none;
    display: table-cell;
    
}